* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
#title{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}
#title2{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    letter-spacing: 2px;
}
#navbar{
    backdrop-filter: blur(20px);
}
#weather-info {
    list-style: none;
}
#jumbotron{
    background: transparent;
    backdrop-filter: blur(2px);
}
#box1{
    background: transparent;
    color: black;
    backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 22px 70px 4px;
}
#box2{
    background: transparent;
    color: black;
    backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 22px 70px 4px;
}
#box3{
    background: transparent;
    color: black;
    backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 22px 70px 4px;
}

